p
{
background-color:black;
color:red;
font-size:30px;
text-decoration:line-through;
}
h1
{
background-color:red;
}
body
{
background-image:url('flower.jpg');
background-size:2000px ;
background-repeat:no-repeat;
background-position:center;
}


